/* Master Styles */


body {
    margin: 0;
    height: 100%;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    background-color: #75AADB;
    /*background-color: #1a2c51;*/

}

